{% extends 'base.html.twig' %}

{% block title %}Admin - New{% endblock %}

{% block body %}
    <main class="main_sidebar">
        {%  include 'layout/sidebar.html.twig' %}
        <h1 class="m-3 text-center">{{ user.email }}</h1>

        <div class="container-fluid w-50 mt-5">
            <div class="d-flex flex-column align-items-stretch">

                <p>{{ user.id }}</p>
                <p>{{ user.email }}</p>
                {% for role in user.roles %}
                    <p>{{ role }}</p>
                {% endfor %}
                <a class="btn btn-primary" href="{{ path('app_admin_dashboard') }}">Retour à la liste</a>

            </div>
        </div>
    </main>

{% endblock %}