<header class="container-fluid p-0">

    <div class="navbar p-0">

        <div class="logo_container col-lg-2 col-6 m-0">
            <a href="{{ path('app_home') }}">
                <img class="logo img-fluid" src="{{ asset('uploads/logo.svg') }}" alt="Logo">
            </a>
        </div>

        <ul class="navitems d-flex col-lg-8">
            <li class="btn_navbar"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="btn_navbar"><a href="{{ path('app_compendium') }}">Encyclopédie</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="btn_navbar"><a href="{{ path('admin_dashboard') }}">Administration</a></li>
            {% endif %}

        </ul>
        <div class="button_container col-lg-2 col-6 mr-2">
            {% if app.user %}
                <p>{{ app.user.email }}</p>
                <a id="logoutBtn" href="{{ path('app_logout') }}"><button class="connect theme-button">Déconnexion</button></a>
            {% else %}
                <li><button id="loginBtn" class="connect theme-button">Connexion</button></li>
            {% endif %}
        </div>
    </div>

</header>