<header class="w-full bg-theme-darker text-theme-light overflow-hidden max-h-[600px]">

    <div class="flex items-center w-4/5 mx-auto">

        <div class="flex justify-center w-1/6 p-0 m-0">
            <a href="{{ path('app_home') }}" class="flex justify-center w-full">
                <img class="w-1/2 p-4 hover:cursor-pointer" src="{{ asset('uploads/logo.svg') }}" alt="Logo">
            </a>
        </div>

        <ul class="flex list-none w-2/3 m-0">
            <li class="m-8"><a href="{{ path('app_home') }}" class="no-underline">Accueil</a></li>
            <li class="m-8"><a href="{{ path('app_compendium') }}" class="no-underline">Encyclopédie</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="m-8"><a href="{{ path('app_admin_dashboard') }}" class="no-underline">Administration</a></li>
            {% endif %}
        </ul>

        <div class="flex items-baseline justify-end w-1/6 mr-8">
            {% if app.user %}
                <p class="p-4">{{ app.user.email }}</p>
                <a id="logoutBtn" href="{{ path('app_logout') }}" class="mr-8"><button class="connect theme-button">Déconnexion</button></a>
            {% else %}
                <ul><button id="loginBtn" class="connect theme-button">Connexion</button></ul>
            {% endif %}
        </div>
    </div>

</header>
